APIKEY=''
APISECRET=''
SYMBOL='TRXETH'
INTERVAL='1m'
BODY_LIMIT='100kb'
DECIMAL=8
SIZE_DIFF_ORDER=0.00000020
QUANTITY=1000
AUTO_START_BOT=true
SEND_ORDER_TEST=true
API_COINMARKETCAP='https://api.coinmarketcap.com/v1/ticker'
STRATEGIE=''
