<ul>
  <li>
    <div class="title">Dernier prix</div>
    <div class="value">{{webSocketService.trade.price}}</div>
  </li>
  <li>
    <div class="title">Variation sur 24h</div>
    <div class="value">{{webSocketService.trade.price}}</div>
  </li>
  <li>
    <div class="title">24h Haut</div>
    <div class="value"></div>
  </li>
  <li>
    <div class="title">24h Bas</div>
    <div class="value"></div>
  </li>
  <li>
    <div class="title">24h Volume</div>
    <div class="value"></div>
  </li>
</ul>
