.btn-start {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 30px;
  padding: 15px;
  text-align: center;
  background-color: #8ec919;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
